body{
    background-color: rgb(247, 248, 249);
}
 .main-content .signup{
    color:white;
    background-color:blue;
    cursor:pointer;
    border:none;
    border-radius:6px 6px;
    height: 40px;
    width:360px;
    font-weight:bold;
    font-size:15px;
    text-align:center;
}
 .main-content .login{
     color:black;
    background-color:rgba(242, 229, 249, 1);
    cursor:pointer;
    border:none;
    border-radius:6px 6px;
    height:40px;
    width:360px;
    font-weight:bold;
    font-size:15px;
    text-align:center;
}
 .main-content button{
    display:block;
    margin:7px;
    cursor:pointer;
}
 .main-content .login a{
    text-decoration:none;
    color:inherit; /* same color has button */
}
 .main-content .signup a{
    text-decoration:none;
    color:inherit; /* same color has button */
}
/* .main-content{
    color: rgb(120,120,120);
} */

@media(max-width:720px){
    .main-content{
    padding-top: 430px;
}
}

 .main-content h2, button, p{
    padding-left:12px;
}
