
.content body{
    background-color: rgb(247, 248, 249);
    margin:0;
    color:black
}
.content p{
    color: rgb(120,120,120);
}
.content button{
    height: 40px;
    width:273px;
    cursor:pointer;
    border-radius:8px;
    border:none;
    background-color: rgb(197, 200, 204);
    color:white;
    cursor:pointer;
}
.content{
    padding-left:10px;
}
.content fieldset{
    width:250px;
    height: 28px;
    color:rgb(166, 158, 158);
    border-radius:10px;
    display:block;
    margin:4px 0 10px;

}
.content fieldset legend{
    font-size:12px;
    color:rgb(113, 113, 233)
}