.contents body{
    background-color: rgb(189, 202, 216);
}
.contents fieldset{
    width:340px;
    height: 25px;
    color:black;
    border-radius:10px;
    display:block;
    margin:6px;
    border-color:antiquewhite;
    padding-top:2px;
}
.contents fieldset legend{
    font-size:12px;
    color:rgb(113, 113, 233);
}
.contents button{
    margin-left:2px;
    width:370px;
    height:40px;
    border:none;
    border-radius:5px;
    background-color: blue;
    color:white;
    margin-top: 160px;
    cursor: pointer;
}
.contents button a{
    text-decoration:none;
    color:inherit;
}
.required{
    color:red;
    margin-left:1px;
}
.contents h1,p,fieldset,button{
    padding-left:10px;
}
